/* Códigos especiales para las anotaciones */
@import "notes/highlights.css";
@import "notes/multimedia.css";
@import "notes/temaColores.css";
@import "notes/tablas.css";
@import "notes/infoboxes.css";
@import "notes/numeracionAuto.css";
@import "notes/footnotes.css";
@import "notes/printStyles.css";

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #1E1E1E;
  color: #E0E0E0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}
