/* Formato de las tablas dentro de figure */
figure.tablap table {
  width: 100%;
  height: 100%;
}

figure.tablap th {
  text-align: center;
}

figure.tablap table,
figure.tablap th,
figure.tablap td {
  border-collapse: collapse;
}

figure.tablap th,
figure.tablap td {
  padding: 10px;
}
