.iconpresentator {
  border-spacing: 10px;
  border-collapse: separate; /* Elimina espacios entre celdas */
  justify-content: space-around;
}

.iconpresentator table {
  background: #dfdede;
  border-radius: 10px;
  /*border: #4caf50 1px solid;*/
  margin-top: -60px;
  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Estilo para las filas */
.iconpresentator tr {
  display: table-row; /* Comportamiento normal de las filas */
  justify-content: space-between;
}

/* Estilo para las celdas */
.iconpresentator td {
  text-align: center; /* Centra el contenido horizontalmente */
  vertical-align: top; /* Centra el contenido verticalmente */
}
