@import "../../../css/html5boilerplate.css";
@import "progress-bar.css";
@import "icon-content.css";
@import "icon-presentator.css";
@import "titulacion-presentator.css";
@import "sellorojo.css";
@import "perfil-presentator.css";

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  display: flex; /* Activa flexbox */
  justify-content: center; /* Alineación horizontal */
  align-items: center; /* Alineación vertical */
  min-height: 120vh; /* Altura mínima del body, ocupa toda la pantalla */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.fixed-container {
  width: 1000px; /* Ancho fijo para el contenedor */
  padding: 10px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.main-table {
  width: 100%;
  display: flex; /* Activa flexbox */
  justify-content: space-between; /* Alineación horizontal */
  align-items: center; /* Alineación vertical */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.main-table-tr {
  display: flex;
  width: 100%;
  flex-grow: 1; /* Permite que la primera fila crezca */
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

.icon-table {
  width: 100%;
}

.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
}

