/* /Users/mura/PhpstormProjects/mura_anotaciones/css/img/style.css */
@import "../../../css/html5boilerplate.css";
@import "progress-bar.css";
@import "icon-content.css";
@import "icon-presentator.css";
@import "titulacionpresentator.css";
@import "sellorojo.css";
@import "perfil.css";

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  width: 100%;
  horiz-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}

