.icon-content {
  display: flex;
  height: auto;
  width: 90px;
  padding-bottom: 20px;
}

.icon-content-text {
  width: 100%;
  height: 100%;
  gap: 1px;
}

.icon-content img {
  padding-top: 12px;
  width: 100%; /* Ancho predeterminado */
  height: 30px; /* Alto predeterminado */
  object-fit: contain; /* Ajusta la imagen al tamaño sin deformarla */
}

.icon-content h3 {
  text-align: center;
  font-size: 0.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

.icon-content p {
  font-weight: normal;
  font-style: italic;
  font-size: 0.5rem;
  color: lightslategray;
  margin-top: 0;
  margin-bottom: 0;
}
