.perfil-container {
  width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
  height: 100%;
  /* margin: 20px auto; Centra el contenedor horizontalmente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Necesario para posicionar el background */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

/* Fondo difuminado para toda la tabla */
.perfil-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/imagen.jpeg"); /* Reemplaza con la ruta de tu imagen */
  background-size: cover;
  background-position: center;
  opacity: 0.4; /* Ajusta la opacidad del difuminado */
  filter: blur(30px); /* Ajusta el nivel de desenfoque */
  z-index: 0; /* Coloca el fondo detrás del contenido */
}

.perfil-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: transparent; /* Hace que el fondo de la tabla sea transparente */
}

.perfil-table td {
  padding: 20px;
  vertical-align: top; /* Alinea el contenido en la parte superior */
  background-color: transparent; /* Hace que el fondo de las celdas sea transparente */
}

.text-column {
  width: 50%; /* Ajusta el ancho de la columna de texto */
}

.text-column h2 {
  font-size: 2.2rem;
}

.text-column p {
  font-size: 1.2rem;
}

.image-column {
  width: 30%; /* Ajusta el ancho de la columna de imagen */
  height: 100%;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(60px);
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
  border-radius: 10px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -280px center;
}
