.sello-container .sello-table {
  margin-top: 0;
}

.sello-container {
  position: relative;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
  width: 110%;
}

.sello-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen al tamaño sin deformarla */
}

.sello-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.9rem; /* Ajusta el tamaño del texto */
}
